@import url(reset.css);
/*全局基础样式*/
body{
	font-family:Helvetica, Tahoma, Arial, STXihei, "华文细黑", "Microsoft YaHei", "微软雅黑", SimSun, "宋体", Heiti, "黑体", sans-serif;
	font-size:14px;
	margin:0 auto;
	padding:0;
	text-align:left;
}
a{text-decoration:none;color:#000000;}
a:hover{color:#06C;}
/*a:visited{color:#E25323;}*/
ul li{list-style:none;/*float:left;*/}
.left{float:left;}
.right{float:right;}
.inline{display:inline;}
.inline-block{display:inline-block;}/*ie6对inline-block属性不支持 不建议使用此类*/
.block{display:block;}
.vertical-middel{vertical-align:middle;}
.clearR{clear:right;}
/*清除浮动*/
.clearfix:after{
     content:".";        
     display:block;        
     height:0;        
     clear:both;        
     visibility:hidden;        
}
/*清除浮动 兼容ie6,7*/
.clearfix{zoom:1}
.container{width:1200px;margin:0 auto;overflow:hidden;}

/*用户样式*/
/*首页样式start*/
/*header*/
#header{float:left;width:100%;}
#wrap{padding-top:12px;}
#logo-tools{position:relative;}
#logo{display:inline-block;}
#tools{position:absolute; top:0px; right:0px; font-size:12px; color:#3e7db0; width:100%; height:100%; text-align:right; }
#tools li{margin-bottom:20px;}
/*menu*/
#menu{float:right;width:100%; position:relative; top:-20px; right:-20px;}
#menu ul{float:right;}
#menu ul li{float:left;  }
#menu ul li a{display:block; font-size:20px; width:125px; height:41px; text-align:center; line-height:41px; }
#menu ul li a:hover{color:#862020;}
#menu ul li a.current{ background:url(../images/menu-background.png) no-repeat scroll 0 0; color:#ffffff !important;}
#name{display:inline-block; vertical-align:bottom; height:50px; line-height:80px; *line-height:50px;border-left:2px solid #ccc; margin-left:10px; padding-left:20px; font-family:"微软雅黑";}
/*图片轮播*/
#pic-slider{height:460px; clear:left; margin-bottom:28px;}
/*......*/

/*公司简介和联系我们*/
#introduction-contact{width:100%; margin-bottom:28px;}
#introduction{max-width:710px;*width:710px;}
#introduction h3,#contact h3,#product h3,#news h3{background-color:#f3f3f3; color:#aaaaaa; padding:16px; font-size:16px; border-radius:10px 10px 0 0; line-height:100%;}
#product h3,#news h3{float:left;width:1168px;}
#introduction #intro,#contact #us{padding:20px; background-color:#f8f8f8; color:#8a8a8a; min-height:350px;*height:350px;}
#introduction #intro p{line-height:20px; font-size:14px;}
#introduction #intro a{color:#06C; float:right;}
#introduction #intro #pic-company{width:266px; height:348px; overflow:hidden; margin-right:22px; }
#contact{width:450px;}
#contact #us li{font-size:14px; line-height:30px;}

/*产品展示*/
#product{clear:left;}
#product h3 a,#news h3 a{margin-right:20px; font-size:14px; color:#3e7db0; line-height:100%;}
#product #product-list{padding:38px;overflow:hidden; max-height:180px; *height:180px; background-color:#f8f8f8; color:#8a8a8a; clear:left;}
#product #product-list ul{float:left;}
#product #product-list ul li{float:left; margin-right:12px;}

/*新闻资讯*/
#news{margin:28px 0px; float:left;}
#news #news-list{padding:38px; float:left; background-color:#f8f8f8; color:#8a8a8a; line-height:30px; width:1124px;}
#news #news-list a{color:#8a8a8a} 
#news #news-list a:hover{color:#06c;}
#news #news-list li{margin-right:30px;width:530px; float:left;}
#news #news-list #right-block{margin-left:30px;width:530px;}

/*footer*/
#footer{clear:left; padding:10px 380px; text-align:center; background-color:#555555; color:#fff;}
#footer span{margin:0px 60px 10px 0px; display:inline-block;}
/*首页样式end*/

/*产品展示页样式start*/
/*banner条广告*/
#advertisement{height:125px;clear:left;}
#product-cate{margin:28px 0px;}
#product-cate #product-cate-head #product-cate-title{padding:30px; color:#aaaaaa; font-size:24px; background-color:#e9e9e9; border-right:1px solid #d1d1d1;}
#product-cate #product-cate-head #product-cate-path{padding:32px 32px 32px 189px; font-size:20px; background-color:#f3f3f3; color:#aaaaaa;}
#product-cate #product-cate-head #product-cate-path a{color:#3e7db0}
#product-cate #product-cate-head #product-cate-path .separator{display:inline-block; margin:0px 10px;}
#product-cate #product-cate-body{padding:28px 30px 58px; background-color:#f8f8f8;}
#product-cate #product-cate-body li{float:left; position:relative;}
#product-cate #product-cate-body a{padding:10px;color:#8a8a8a; display:block;}
#product-cate #product-cate-body a.current-cate{color:#3e7db0;}
#product-cate #product-cate-body a:hover{color:#ffffff !important; background-color:#bbaa90 !important;}
#product-cate #product-cate-body ul ul{position:absolute; top:34px;left:0px;width:1000px; display:none;}
#product-cate #product-cate-body ul ul li{background-color:#bbaa90;}
#product-cate #product-cate-body ul ul li a{color:#ffffff; font-size:12px;}
#product-cate #product-cate-body ul ul li a:hover{color:#3e7db0 !important;}
/*产品展示列表*/
#product-shows h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#product-shows #product-show{padding:60px 0 40px 60px; background-color:#f8f8f8;}
#product-shows #product-show ul li{float:left;margin-right:60px;}
#product-shows #product-show ul li div{height:318px; width:320px; overflow:hidden;}
#product-shows #product-show ul li span{display:block; text-align:center; margin:18px;}
/*产品展示分页*/
#product-page{margin:70px 0px; color:#666; font-size:16px; text-align:center;}
/*产品展示页样式end*/

/*产品详情页样式start*/
#product-infos h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#product-infos #product-info{padding:60px; background-color:#f8f8f8;}
#product-infos #product-info div{width:695px; height:665px; overflow:hidden; margin:0px 55px 55px 0px;*margin:0px 55px 0px 0px;}
#product-infos #product-info ul{margin-top:95px;}
#product-infos #product-info ul li{margin-bottom:32px;}
#product-infos #product-info p{clear:left; text-indent:2em;}
#product-next-prev{text-align:center; margin:70px 0px; color:#666; font-size:16px;}
#product-next-prev #prev{margin-left:60px;}
#product-next-prev #next{margin-right:60px;}
#product-next-prev a{text-decoration:underline; color:#3e7db0;}
/*产品详情页样式end*/

/*关于我们样式start*/
#about-us{margin:28px 0 70px;}
#about-us h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#about-us #about{padding:60px; background-color:#f8f8f8;}
#about-us #about div{margin-right:30px; width:310px; height:360px; overflow:hidden;}
#about-us #about p{text-indent:2em;padding-top:2em;}
/*关于我们样式end*/

/*加入我们样式start*/
#join-us{margin:28px 0px 0px;}
#join-us h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#join-us #join{padding:60px 60px 10px; background-color:#f8f8f8;}
#join-us #join .job{margin-bottom:20px;}
#join-us #join .job h4{padding:10px; font-size:24px; color:#ffffff; background-color:#862020;}
#join-us #join .job .job-info{padding:23px 20px 0px}
#join-us #join .job .job-info dl{margin-bottom:16px; color:#505050;}
#join-us #join .job .job-info dt{font-size:22px;}
#join-us #join .job .job-info dd{text-indent:1.8em; font-size:18px; margin-top:16px;}
#join-us #join .job .job-info span{margin-left:2.5em;}
#recruit-page{margin:70px 0px; color:#666; font-size:16px; text-align:center;}
/*加入我们样式end*/

/*联系我们样式start*/
#contact-us{margin:28px 0px 70px;}
#contact-us h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#contact-us #contacts{padding:58px; background-color:#f8f8f8;}
#contact-us #contacts ul{color:#8a8a8a; font-size:14px;}
#contact-us #contacts ul li{margin-bottom:20px;}
/*联系我们样式end*/

/*客户案例样式start*/
#customer-shows{margin-top:28px;}
#customer-shows h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#customer-shows #customer-show{padding:60px 0 40px 60px; background-color:#f8f8f8;}
#customer-shows #customer-show ul li{float:left;margin-right:60px;}
#customer-shows #customer-show ul li div.customer-img{height:318px; width:320px; overflow:hidden;}
#customer-shows #customer-show ul li div.customer-info{text-align:center; margin:18px 0px;}
#customer-shows #customer-show ul li div.customer-info a{display:inline-block; width:26px; height:26px;}
#customer-shows #customer-show ul li div.customer-info a.customer-info-link{background:url(../images/hover-link.png) no-repeat scroll 0 0; margin-right:10px}
#customer-shows #customer-show ul li div.customer-info a.customer-info-maximize{background:url(../images/hover-zoom.png) no-repeat scroll 0 0; margin-left:10px;}
/*客户案例样式end*/

/*文章列表页样式start*/
#articles-cate{margin:28px 0px;}
#articles-cate #articles-cate-head #articles-cate-title{padding:30px; color:#aaaaaa; font-size:24px; background-color:#e9e9e9; border-right:1px solid #d1d1d1;}
#articles-cate #articles-cate-head #articles-cate-path{padding:32px 32px 32px 189px; font-size:20px; background-color:#f3f3f3; color:#aaaaaa;}
#articles-cate #articles-cate-head #articles-cate-path a{color:#3e7db0}
#articles-cate #articles-cate-head #articles-cate-path .separator{display:inline-block; margin:0px 10px;}
#articles-cate #articles-cate-body{padding:28px 30px 58px; background-color:#f8f8f8;}
#articles-cate #articles-cate-body li{float:left; position:relative;}
#articles-cate #articles-cate-body a{padding:10px;color:#8a8a8a; display:block;}
#articles-cate #articles-cate-body a.current-cate{color:#3e7db0;}
#articles-cate #articles-cate-body a:hover{color:#ffffff !important; background-color:#bbaa90 !important;}
#articles-cate #articles-cate-body ul ul{position:absolute; top:34px;left:0px;width:1000px; display:none;}
#articles-cate #articles-cate-body ul ul li{background-color:#bbaa90;}
#articles-cate #articles-cate-body ul ul li a{color:#ffffff; font-size:12px;}
#articles-cate #articles-cate-body ul ul li a:hover{color:#3e7db0 !important;}

#articles-lists h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#articles-lists #articles-list{padding:28px 28px 0px; background-color:#f8f8f8;}
#articles-lists #articles-list ul li{margin-bottom:34px;}
#articles-lists #articles-list ul li a{ font-size:14px; color:#aaaaaa;}
#articles-lists #articles-list ul li a:hover{color:#3e7db0;}

#articles-page{margin:70px 0px; color:#666; font-size:16px; text-align:center;}
/*文章列表页样式end*/

/*文章详情页样式start*/
#article-infos h3{border-radius:10px 10px 0 0; background-color:#f3f3f3; color:#aaaaaa; padding:30px; font-size:24px;}
#article-infos #article-info{padding:55px; background-color:#f8f8f8;}
#article-infos #article-info p{color:#aaaaaa; font-size:18px; text-indent:2em; line-height:26px;}

#share{margin-top:50px;line-height:120%;/*解决ie6下字体不能全部显示出来的bug*/}
#article-next-prev{margin:25px 0px;}
#article-next-prev span{line-height:120%;/*解决ie6下字体不能全部显示出来的bug*/}
#article-next-prev a{text-decoration:underline; color:#3e7db0;}
/*文章详情页样式end*/